$font-gotham: 'Gotham', sans-serif;
$font-gotham-black: 'Gotham Black', sans-serif;
$font-gotham-light: 'Gotham Light', sans-serif;
$font-gotham-thin: 'Gotham Thin', sans-serif;
$font-gotham-xlight: 'Gotham XLight', sans-serif;
$font-gotham-book: 'Gotham Book', sans-serif;
$font-gotham-ultra: 'Gotham Ultra', sans-serif;

$color-violeta-1: #9900CC;
$color-violeta-2: #B440DB;

$color-turqueza-1: #00A99D;
$color-turqueza-2: #00BFB2;

$color-azul-1: #0079A9;
$color-azul-2: #0088BF;

$color-rojo-1: #BF0022;
$color-rojo-2: #A9001F;

$color-verde-2: #73A900;
$color-verde-2: #82BF00;