$font-gotham: 'Gotham', sans-serif;
$font-gotham-black: 'Gotham Black', sans-serif;
$font-gotham-light: 'Gotham Light', sans-serif;
$font-gotham-thin: 'Gotham Thin', sans-serif;
$font-gotham-xlight: 'Gotham XLight', sans-serif;
$font-gotham-book: 'Gotham Book', sans-serif;
$font-gotham-ultra: 'Gotham Ultra', sans-serif;

$color-rosado-1: #DDB5EB;
$color-rosado-2: #EFD7F7;

$color-pictograma1-1: #B5D2EB;
$color-pictograma1-2: #D7E8F7;

$color-pictograma2-1: #EBB5C2;
$color-pictograma2-2: #F7D7DE;

// $color-violeta-1: #9900CC;
// $color-violeta-2: #B440DB;
$color-violeta-1: #9900CC;
$color-violeta-2: #AF0BE6;

$color-turqueza-1: #00A99D;
$color-turqueza-2: #00BFB2;

$color-azul-1: #0079A9;
$color-azul-2: #0088BF;

$color-rojo-1: #BF0022;
$color-rojo-2: #A9001F;

$color-verde-2: #73A900;
$color-verde-2: #82BF00;